name: CI/CD Pipeline

on:
  pull_request:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.job
      uses: actions/setup-node@v2
      with: 
        node-version: 20

    - name: Install Dependencies
      working-directory: backend
      run: npm install && npx prisma generate

    - name: Run tests
      working-directory: backend
      run: pnpm run test